#viewport {
  margin: auto;
  width: 1400px;
  display: flex;
  flex-flow: column;
}

h1 {
  margin: auto;
  font-size: 80px;
}

h2 {
  margin: auto;
  font-size: 40px;
}

.playport {
  display: flex;
}

.playarea {
  width: 500px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-flow: column;
}

.board {
  width: 500px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.dice {
  width: 200px;
  height: 250px;
  display: flex;
  flex-flow: column;
  margin: auto;
}

.result {
  font-size: 120px;
  width: 180px;
  height: 200px;
  border: solid black 2px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.number {
  font-size: 60px;
  width: 86px;
  height: 86px;
  margin: 5px;
  border: solid black 2px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.crosed {
  border: solid red 2px !important;
  color: red;
  text-decoration: line-through;
  background-color: lightcoral;
}

.victory {
  background-color: greenyellow;
}
